h1 {
    
        font-family: Helvetica;
        color: #FFF;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #000;
    
}
body{

    background-color: palevioletred;
}
#dadospessoais {
    
    background-color: pink;
    width: 20%;
}
#credito {
    background-color: pink;
}
#botaoenviar {
    font-style: inherit; 
    font-size: 15px;
    color: solid black;
    border-radius: 5px;
    
}
#credito {
    width: 40%;
}
#botaosimular {
    border-radius: 5px;
    width: 200px;
    font-size: 15px;

}
#reais {
    border-radius: 5px;

}
#x{
    border-radius: 5px;
}